<div style="padding-top: 100px" *ngIf="!isDataAvailable">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<div class="bg-dark" *ngIf="isDataAvailable">
  <div class="jumbotron bg-dark text-light">
    <h1 class="display-1">{{project.name | uppercase}}</h1>
    <h4>{{project.description}}</h4>
    <h4>Created at: {{project.created_at._}}</h4>
    <h4>Created by: {{project.created_by.login}}, {{project.created_by.name}}</h4>
    <h4>Updated at: {{project.updated_at._}}</h4>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-6" *ngFor="let card of cards" style="padding-bottom: 50px">
        <div class="card h-100">
          <div class="card-header bg-secondary text-light">{{card.name}}</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Created by: {{card.created_by.login}}, {{card.created_by.name}}</li>
              <li class="list-group-item">Card Type: {{card.card_type.name}}</li>
              <li class="list-group-item">Card number: {{card.number._}}</li>
              <li class="list-group-item">
                <a target="_blank" [attr.href]="card.rendered_description.$.url">Description</a>
              </li>
            </ul>
          </div>
          <!--div class="card-body"><div [innerHTML]="card.description"></div></div-->
        </div>
      </div>
    </div>
  </div>
</div>